---
layout: archive
permalink: /posts/
title: "Blog posts"
author_profile: true
header:
  og_image: "posts/spatial-sql/gadm_wkt_filter_buffer-1.png"
---

{% include base_path %}
{% for post in site.posts %}
  {% assign categories = post.categories | join: ', ' %}
  {% if categories != written_category %}
    <h2 id="{{ categories | slugify }}" class="archive__subtitle">{{ categories }}</h2>
    {% capture written_category %}{{ categories }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
