*{
  margin: 0;
  padding: 0;
}
#progress {
  width: 300px; /* Adjust the width and height as needed */
  height: 300px;
  margin: 20px auto;
  background-color: #fff;
  border: 1px solid blue;
  border-radius: 50%; /* Use border-radius to create a circle */
  position: relative;
  overflow: hidden; /* Ensure the progress bar stays within the circle */
}

#progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: green;
  border-radius: 50%;
  transform-origin: center;
//transition: transform 0.5s ease;
  //animation: shrink 60s linear infinite; /* Use CSS animation to shrink the progress bar */
}

@keyframes shrink {
  0% {
    transform: scale(1); /* Start with full size */
  }
  100% {
    transform: scale(0); /* Shrink to zero size */
  }
}

#frm1 {
//width:100px;
 // height: 100px;
  display: flex; /* Use flexbox to align the input buttons */
 // flex-wrap: wrap; /* Allow wrapping of input buttons to a new line if necessary */
}

#frm1 input[type="text"] {
  flex: 1; /* Distribute available space equally among input buttons */
  //margin-right: 3px; /* Add some spacing between input buttons */
}
